<carousel>
  <slide>
    <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; height: 452px ; width:100%;" />
  </slide>
  <slide>
    <img src="assets/images/hero2.jpg" alt="second slide" style="display: block; height:452px; width:100%;" />
  </slide>
  <slide>
    <img src="assets/images/hero3.jpg" alt="third slide" style="display: block; height: 452px;; width:100%;" />
  </slide>
</carousel>
<section class="featured">
 <div class="d-flex justify-content-center pt-4">
   <h1>Bine ati venit in magazin</h1>
 </div>

 <ng-container *ngIf="types?.length">
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col" *ngFor="let type of types"
    [class.active]="type.id===this.shopParams.typeId"
              [value]="type.id"
              (click)="btnClick(type.id)">
    <div class="card shadow-sm">
      <img src="assets/images/{{type.name}}Category.png"  style = "width:250px; height:auto">
      <div class="card-body">
        <p class="card-text"  >{{type.name}}</p>
      </div>
    </div>
    <br>
  </div>
 </div>
 </ng-container>

</section>
